@model NinjaTurtlesMVC.Data.Models.Turtle
@{
    ViewBag.Title = "Update";
}

<h2>Edit Character Bio</h2>

<form class="form-group" action="/Home/Update/@Model.Id" method="post">
    <input type="text" name="name" placeholder="Name" value="@Model.Name" class="input-group-sm">
    <input type="text" name="color" placeholder="Color" value="@Model.Color" class="input-group-sm" />
    <input type="text" name="weapons" placeholder="Weapons" value="@Model.Weapons" class="input-group-sm" />
    <input type="text" name="personality" placeholder="Personality" value="@Model.Personality" class="input-group-sm" />
    <br />
    <input type="text" name="bio" placeholder="Bio" value="@Model.Bio" class="input-group-lg" />
    <br />
    <input type="text" name="photoSm" placeholder="Small PhotoURL" value="@Model.PhotoSm" class="input-group-sm" />
    <input type="text" name="photoLg" placeholder="Large PhotoURL" value="@Model.PhotoLg" class="input-group-sm" />
    <br />
    <input type="submit" class="btn btn-primary" />
</form>


<a href="/Home/Delete/@Model.Id" class="btn btn-danger">Delete Character</a>

